pre {
    background: #f4f4f4;
    border-left: 1px solid #0088ff;
    border: 1px solid #ddd;
    display: block;
    font-family: monospace;
    font-size: 0.8em;
    line-height: 1.0;
    max-width: 100%;
    overflow: auto;
    padding: 0.5em;
    page-break-inside: avoid;
    text-wrap: unrestricted;
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

p code {
    color: #e83e8c;
    font-size: 90%;
}

.language-bash-script < pre {

    border-left: 4px solid #008800;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1  {
    font-family: 'Patua One', sans-serif;
    line-height: 1.3em;
    font-weight: 900;
    width: 67%;
}

h2 {
    font-family: 'Patua One', sans-serif;
    line-height:1.3em;
    font-weight: 500;
    width: 67%;
}

h3 {
    font-family: 'Patua One', sans-serif;
    line-height:1.3em;
    font-weight: 300;
    width: 67%;
}


table {
  padding: 0; }
  table th {
      color: #000;
      background-color: #fff;
    }
  table tr {
    border-top: 0px solid #aaa;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #dee; }
    table tr th {
      font-weight: bold;
      border: 0px solid #aaa;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 0px solid #aaa;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

strong {
    font-weight: 800;
}

ul, ol  {
   padding-left: 15px;
   padding-inline-start: 15px;
}

p.footnote-title {
}
