.smalllogo {
    position: fixed;
    left: 20px;
    top: 20px;
    transform: matrix(-0.5, 0, 0, 0.5, 0, 0);
}


@font-face {
	font-family: JuliaMono-Regular;
	src: url("https://cormullion.github.io/assets/fonts/JuliaMono-Regular.woff2");
}


pre {
    background: #f8f8f8;
    border: 1px solid #eee;
    display: block;
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
    font-family: JuliaMono-Regular, monospace;
    font-size: 0.9em;
    line-height: 1.1;
    max-width: 200%;
    overflow: auto;
    page-break-inside: avoid;
    text-wrap: unrestricted;
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code {
    font-size: 0.9em;
    font-family: JuliaMono-Regular, monospace;
    background: #f8f8ff;
    color: #004466;
}

.hljs-keyword {
    color: #826;
}

.hljs-comment {
    color: #400;
}


.hljs-meta {
    color: #46a;
}

.language-bash-script < pre {

}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1  {
    font-family: 'Patua One', sans-serif;
    line-height: 1.2em;
    font-weight: 900;
    margin-bottom: 1em;
    width: 80%;
}

h2 {
    font-family: 'Patua One', sans-serif;
    line-height:1.2em;
    font-weight: 500;
    margin-bottom: 1em;
    border-bottom: 1px solid #aaa;
}

h3
{
    font-family: 'Patua One', sans-serif;
    line-height: 1.3em;
    font-weight: 300;
    border: 0;
    margin: 1em 0;
    width: 80%;
}

h4 {
    font-family: 'Patua One', sans-serif;
    line-height:1.3em;
    font-weight: 300;
    margin-bottom: 0.5em;
    width: 80%;
}

table {
  padding: 0; }
  table th {
      color: #000;
      background-color: #fff;
    }
  table tr {
    border-top: 0px solid #aaa;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #dee; }
    table tr th {
      font-weight: bold;
      border: 0px solid #aaa;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 0px solid #aaa;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

strong {
    font-weight: 800;
}

ul, ol  {
   padding-left: 15px;
   padding-inline-start: 15px;
}

p.footnote-title {
}
