<!doctype html>
<html lang="en">
<head>
	<!-- parts for all pages -->
	{{insert meta.html}}
	{{insert head_scripts.html}}


  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">

  <link type="application/atom+xml" rel="alternate" href="/feed.xml" title="RSS feed for Julia language blog" />


	<link rel="icon" href="/assets/infra/julia.ico">

  <!-- Franklin stylesheets for generated pages -->
  {{if hasmath}} {{insert head_katex.html }}      {{end}}
  {{if hascode}} {{insert head_highlight.html }}  {{end}}
  {{isdef title}} <title>{{fill title}}</title>   {{end}}

  {{ispage /blog/* /jsoc/gsoc/*}}
  <style>
	  .container ul li p {margin-bottom: 0;}
  </style>
  {{end}}

   <link rel="stylesheet" href="/css/app.css">
   <link rel="stylesheet" href="/css/basic.css">
   <link rel="stylesheet" href="/css/fonts.css">
   <link rel="stylesheet" href="/css/franklin.css">
   <link rel="stylesheet" href="/css/julialangblog.css">

</head>

<body>

{{insert navbar.html}}

<br><br>

{{ispage /blog/*}}
<div class="container blog-title">
	{{isdef title}}<h1>{{fill title}}</h1>{{end}}
  <h3>
  {{isdef published}} <span style="font-weight: lighter;"> {{fill published}} </span>
	|
	{{end}}
	{{isdef author}} <span style="font-weight: bold;">{{fill author}}</span> {{end}}
  <!-- assumption that only one of the two is defined -->
  {{isdef authors}} <span style="font-weight: bold;">{{fill authors}} </span> {{end}}
  </h3>
</div>
{{end}}

<!-- Content appended here -->
