<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <base href="/pub/">

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">

  <link type="application/atom+xml" rel="alternate" href="/feed.xml" title="RSS feed for Julia language blog" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}

  <link rel="stylesheet" href="/css/judoc.css">
  <link rel="stylesheet" href="/css/basic.css">
  <link rel="stylesheet" href="/css/julialangblog.css">
  <link rel="icon"       href="/assets/infra/favicon.ico">

  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>

<body>
  <header>
    <div class="blog-name">The <a href="https://julialang.org/blog/">Julia language blog</a> (mirror)</div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
      <img src="/assets/infra/hamburger.svg" id="menu-icon">
    </nav>
  </header>

  <div class="jd-content">
    {{isdef title}}
    <h1>{{fill title}}</h1>
    {{end}}

    <h3>
      {{isdef published}} <span style="font-weight: lighter;"> {{fill published}} </span>
      |
      {{end}}
      {{isdef author}} <span style="font-weight: bold;">{{fill author}} </span> {{end}}
      <!-- assumption that only one of the two is defined -->
      {{isdef authors}} <span style="font-weight: bold;">{{fill authors}} </span> {{end}}
  </h3>

  </div>

<!-- Content appended here -->
